# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe

#Axel Qt files
face_detector-build-desktop-Qt_4_8_1_dans_le_PATH__Syst_me__Release/*
face_detector/face_detector
face_detector/Makefile

