<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="api.facedetector"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- permission to connect to the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

     <!-- permission to the user to read and write on the device -->
	 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="api.facedetector.MainFaceDetector"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             need to specify in the activity configuration 
        	the name of the parent activity for the back
        -->
        <activity
            android:name="api.facedetector.NotificationView"
            android:label="@string/title_activity_notification_view"
            android:parentActivityName="api.facedetector.MainFaceDetector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="api.facedetector.MainFaceDetector" />
        </activity>
        <activity
            android:name="api.facedetector.ConnectionActivity"
            android:label="@string/title_activity_connection" >
        </activity>
        <activity
            android:name="api.facedetector.MovieActivity"
            android:label="@string/title_activity_movie" >
        </activity>
    </application>

</manifest>
